<div class="course row" fresh [createdDate]="course.date" [ngClass]="{'top-rated': course.topRated}">
    <div class="col-sm-1">{{course.id}}</div>
    <div class="col-sm-2">{{course.title | uppercase}}</div>
    <div class="col-sm-3">{{course.description}}</div>
    <div class="col-sm-1">{{course.date | date : 'dd.MM.yyyy'}}</div>
    <div class="col-sm-2">
        {{course.duration | duration}}
        <span class="rate-star" *ngIf="course.topRated">★</span>
    </div>

    <div class="col-sm-2">
        <div class="btn-group">
            <button class="btn btn-primary">Edit</button>
            <button class="btn btn-danger" (click)="handleDelete()">Delete</button>
        </div>
    </div>
</div>
