<form class="form-horizontal" #editform="ngForm">
	<div class="form-group">
		<label class="control-label col-sm-2" for="title">Title</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" id="title" name="title" #title="ngModel" [(ngModel)]="course.title" maxlength="50" required>
		  <span class="status-message error-message" *ngIf="title.invalid && title.dirty">Error</span>
	    </div>
		 </div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="description">Description</label>
	    <div class="col-sm-10">
	      <textarea class="form-control" id="description" name="description" rows="10" cols="300" [(ngModel)]="course.description" maxlength="500"></textarea>
	    </div>
		 </div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="date">Date</label>
	    <div class="col-sm-10">
	      <date id="date" name="date" [(ngModel)]="course.date" #date="ngModel"></date>
		  <span class="status-message error-message" *ngIf="date.invalid && date.dirty">Error</span>
	    </div>
		 </div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="duration">Duration</label>
	    <div class="col-sm-10">
	      <input type="number" class="form-control" id="duration" name="duration" [(ngModel)]="course.duration">
		  {{course.duration | duration}}
		  <span></span>
	    </div>
	 </div>
</form>
