<md2-dialog #confirm>
	<md2-dialog-title>Do you really want to delete {{deleteId}}?</md2-dialog-title>
	<md2-dialog-footer>
        <button type="button" class="btn btn-success" (click)="handleDelete(confirm)">Ok</button>
        <button type="button" class="btn" (click)="close(confirm)">Cancel</button>
  	</md2-dialog-footer>
</md2-dialog>
<md2-dialog #edit>
	<md2-dialog-title>Edit/Add course</md2-dialog-title>
	<edit [course]="course" [authors]="authors" (isValid)="editFormValid = $event"></edit>
	<md2-dialog-footer>
        <button type="button" class="btn btn-success" (click)="handleSave(edit)" [disabled]="!editFormValid">Ok</button>
        <button type="button" class="btn" (click)="close(edit)">Cancel</button>
  	</md2-dialog-footer>
</md2-dialog>
<div class="courses-page page">
	<h4>Courses</h4>
	<div class="utils row">
		<div class="col-sm-6">
			<searchbox (onSearch)="handleSearch($event)"></searchbox>
		</div>
		<div class="col-sm-6">
			<button type="button" class="btn btn-success pull-right" (click)="handleNew(edit)">Add course</button>
		</div>
	</div>
	<div class="courses">
		<div *ngIf="courses.length">
			<course *ngFor="let item of courses | orderBy" [course]="item" (onDelete)="handleDeleteId($event, confirm)" (onEdit)="handleEditId($event, edit)"></course>
			<ul class="pagination">
				<li>{{current + 1}} of {{pages}} pages</li>
				<li *ngFor="let page of fakeArray;let i = index"><a (click)="changePagination(i)" [ngClass]="{'active': i == current}">{{i+1}}</a></li>
			</ul>

		</div>
		<div *ngIf="!courses.length">
			<div>No courses available.</div>
		</div>

	</div>
</div>
